<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Proveedor</title>
</head>
<body>
        <div class="container">
                <h2 style="color:orangered">Alquiler</h2>
                <p>Ingrese los datos del Alquiler:</p>
                <form>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="ex2">ID Alquiler:</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                      <label for="ex3">Fecha:</label>
                      <input class="form-control" id="ex3" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="ex2">Hora:</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                      <label for="ex3">Total:</label>
                      <input class="form-control" id="ex3" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="ex2">Estado:</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                      <label for="ex3">Cliente:</label>
                      <input class="form-control" id="ex3" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="ex2">Servicio:</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                  </div>
                </form>

                <h2 style="color:orangered">Detalle del Alquiler</h2>
                <div class="table-responsive">          
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>cantidad</th>
                          <th>precio</th>
                          <th>SUBTOTAL</th>
                          <th>Articulo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    </div>

              </div>
              <br> <br>
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><button type="button" class="btn">Guardar</button></div>
                <div class="col-sm-4"></div>
              </div>              
</body>
</html>