<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Proveedor</title>
</head>
<body>
        <div class="container">
                <h2 style="color:orangered">Catering</h2>
                <p>Ingrese los datos del Catering:</p>
                <form>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="ex2">ID Catering:</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                      <label for="ex3">Descripcion:</label>
                      <input class="form-control" id="ex3" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="ex2">Cantidad de personas:</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                      <label for="ex3">Costo total Catering:</label>
                      <input class="form-control" id="ex3" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <label for="ex2">Receta:</label>
                      <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-4">
                      <label for="ex3">Servicio:</label>
                      <input class="form-control" id="ex3" type="text">
                    </div>
                  </div>
                </form>
              </div>
              <br> <br>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"><button type="button" class="btn">Editar</button></div>
                <div class="col-sm-3"><button type="button" class="btn">Guardar</button></div>
                <div class="col-sm-3"></div>

              </div>              
</body>
</html>